* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    width: 100%;
    height: 100%;
    background-image: url('./images/james-webb-space-telescope-images.webp');
    background-position: center;
}

#container {
    margin: 10vh auto;
    height: 50vh;
    text-align: center;
}

#number {
    font-size: 25em;
    color: white;
}

#button-container {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
button {
    padding: 1%;
    height: 15%;
    display: inline-block;
    font-size: 3vw;
}